{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  All Challenges
{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}" />
{% endblock %}
{% block content %}
  {% include 'challenges/includes/header.html' %}
  <div class="card challenges-card">
    <h1 class="challenges-header">All Challenges</h1>
    <ul class="challenge-list">
      {% for month in months %}
        <li class="month-list-item">
          <a href="{% url 'monthly-challenge' month %}">
            <p><small>{{ forloop.counter|stringformat:'02d' }}</small></p>
            <strong><p>{{ month|title }}</p></strong>
            <strong class="view-challenge-text">
              <p>
                <small>View Challenge</small> <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21 12L14 5V9H3.8C3.51997 9 3.37996 9 3.273 9.0545C3.17892 9.10243 3.10243 9.17892 3.0545 9.273C3 9.37996 3 9.51997 3 9.8V14.2C3 14.48 3 14.62 3.0545 14.727C3.10243 14.8211 3.17892 14.8976 3.273 14.9455C3.37996 15 3.51997 15 3.8 15H14V19L21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </p>
            </strong>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
