{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  {{ month|title }} Challenge
{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/monthly-challenge.css' %}" />
{% endblock %}
{% block content %}
  {% include 'challenges/includes/header.html' %}
  <div class="content">
    {% if challenge is not None %}
    <h1 class="month-challenge-heading">{{ month|title }}'s Challenge</h1>
      <p class="challenge-text">{{ challenge }}</p>
    {% else %}
      <p>There is no challenge for this month yet!<p>
    {% endif %}
  </div>
{% endblock %}
