@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
    background-color: #323232;
    color: #e7e7e7;
}

.no-anchor-style{
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.nav-header{
    background-color: black;
    color: white;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    font-weight: bold;
}
 
.nav-logo{
    font-weight: bold;
    font-size: x-large;
}

.card{
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 8px #1e90ff5b;
}