.challenges-card{
    width: 90%;
    max-width: 44rem;
    margin: 24px auto;
}

.challenges-header{
    text-align: center;
}
.challenge-list{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 24px 0;
    padding: 24px 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}

.month-list-item{
    position: relative;

}

.challenge-list a{
    line-height: 0.4em;
    text-decoration: none;
    display: block;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 32px;
    color: white;
    background-color: dodgerblue;
    border-radius: 4px;
}


.view-challenge-text{
    display: none;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    
}

.view-challenge-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


.month-list-item:hover .view-challenge-text{
    display: block;
}